<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/3.3.6/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/3.3.6/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/3.3.6/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/3.3.6/bootstrap-theme.min.css">
	<script src="/js/bootstrap/3.3.6/bootstrap.js"></script>
	<script src="/js/bootstrap/3.3.6/bootstrap.min.js"></script>
	<script src="/js/jquery/2.0.0/jquery.min.js"></script>
	<script src="/js/vue.js"></script>
	<link rel="stylesheet" href="/css/dstyle.css">
</head>	
<body>
	<div class="box" id="app">
		<div class="lcontainer">
			<div class="ltop">
				<img src="/img/usn.jpg" class="img-circle">
				<a type="buton" class="btn btn-success place-right" href="/logout">注销</a>
			</div>			 
			<input type="text" placeholder="search" class="task-input" v-model="searchname" @focus="isSearch=true" @blur="isSearch=false;searchname=''" @keyup.enter="searchThing()">
			<ul>
				<li v-for="list,index in lists" class="list-item" :class="{'active':index===selectedIndex}" @click="selectList(index)">{{list.lname}}</li>
			</ul>
			<input type="text" placeholder="type todolist" class="task-input" v-model="listname" @keyup.enter="addList()" />
		</div>
		<div class="rcontainer">
			<div class="page-top">  
				<div class="page-content">  
					<h2>{{lists[selectedIndex].lname}}</h2>
					<button class="btn btn-primary pull-left" v-if="selectedIndex>1" @click="deleteList()">删除清单</button>
					<button class="btn btn-primary pull-left" @click="showOk()">{{getShowName()}}</button>
				</div>  
			</div>
			<input type="text" placeholder="type todo thing" class="task-input" v-model="thingname" @keyup.enter="addThing()" v-if="!isSearch">
			<div class="page-content2">
				<ul v-if="!isSearch">
					<li v-for="thing,index in lists[selectedIndex].things" class="todo-item" v-if="isShow(index)">
						<input type="checkbox" :checked="thing.done" @click="finish(index)">
						<!-- <span>{{thing.tname}}</span> -->
						<input type="text" class="thing-box" v-model="thing.tname">
						<button class="btn btn-danger pull-right" @click="deleteThing(index)">删除</button>
					</li>
				</ul>
				<ul v-if="isSearch">
					<li v-for="thing,index in searchList" class="todo-item">
						<input type="checkbox" :checked="thing.done" @click="finish(index)">
						<span>{{thing.tname}}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</body>
<script src="/js/vuv.js"></script>
</html>
